body {
	background-image: url("../images/confetti.jpeg");
}

.question {
	color: red;
	font-size: 25px;
}

.option {
	color: blue;
	border: 2px solid black;
	margin: 5px 0;
	padding: 15px 0;
	background-color: wheat;
	border-radius: 10px;
}

.hoverOption:hover {
	background-color: grey;
}

.rightWrongText {
	font-size: 20px;
}

.container {
	margin-top: 30px;
}

h1 {
	font-size: 30px;
}

.backing {
	background: wheat;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	overflow: auto;
}

.spacing {
	margin: 15px 0;
}

.timerDiv {
	display: none;
	border: 2px solid black;
	padding: 10px;
	background: wheat;
	border-radius: 10px;
	margin: 15px 0;
}

button {
	margin: 10px;
	border-radius: 5px;
	background: wheat;
	border: 2px solid;
	padding: 10px;
}